body{
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position:unset;
        background-repeat: no-repeat;
        background-image: url("images/turtle.jpg");
}
#body2{
    position: relative;
    background-position: left;
    width: 100%; 
    height: 100%;
    min-height: 100vh;
}

#container{
    justify-content: right;
    border-radius:13px;  
    justify-items:center;
    align-items: center;
    padding:1%;
    margin-top:-10%;
    position: absolute;
    margin-top:30px;
    margin-left:15px;
    height: 50%;

      
}

h1, h2{
    font-size: 2em;
    color:white;
    letter-spacing:.1rem;
    line-height: normal;
    text-align: center;   
}
#main-form{
text-align: center;
padding: 2%;
border-style: solid; 
box-sizing: content-box;
border-radius: 10px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',;
font-weight: bold;
letter-spacing:.1rem;
line-height:normal;
}

#button{
    width:25%;
    margin-top: 25px;
    cursor: pointer;
    padding: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:black;
    color: white;
    border-width: thin;
    box-shadow: inset  3px 4px rgba(76, 17);
    transition: all.3s ease-in-out;
    border-radius: 5px;
}
#button:hover{
    transform: scale(.9,.9);
    opacity:.8;
    font-size: larger;
}

#container-text{
    position: relative;
    text-align: center;
}
#title{
  bottom: 8px;
  left: 16px;
}
/* .carousel-item img {
    height: 100px; 
    object-fit: cover; 
  } */
.imageWrap{
    height: '100%'; 
    width: '33%';
}

.sliderImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: all.3s ease-in-out;
    cursor: pointer; */
}
hover: #forward{
    background-color: white;  
}